<a href="https://colab.research.google.com/github/Angorith/acorn_python/blob/main/0531_18%EC%9D%BC%EC%B0%A8_pandas(loc%2Cany%2Cabs%2Ccctv%2Cpop%2Cread).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1



[] 입력값은 칼럼명(칼럼 리스트) 또는 불린 인덱스 용도로만 사용해야합니다.

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
data = pd.DataFrame(np.arange(16).reshape((4,4)),
                    index = ['Ohio','Colorado','Utah','New York'],
                    columns = ['one','two','three','four'])
data

          one  two  three  four
Ohio        0    1      2     3
Colorado    4    5      6     7
Utah        8    9     10    11
New York   12   13     14    15

In [ ]:
data[(data<5).any(0)]#에러

In [ ]:
data[(data<5).any(1)]

          one  two  three  four
Ohio        0    1      2     3
Colorado    4    5      6     7

In [ ]:
data['Ohio':'Utah'] #슬라이싱

          one  two  three  four
Ohio        0    1      2     3
Colorado    4    5      6     7
Utah        8    9     10    11

In [ ]:
data['Utah']

KeyError: ignored

In [ ]:
type(data['one'])

pandas.core.series.Series

In [ ]:
data['one'] #low로는 검색이 가능

Ohio         0
Colorado     4
Utah         8
New York    12
Name: one, dtype: int64

In [ ]:
data['one']['Utah'] #data['one':'Utha']XXXXXXX

8

In [ ]:
data_ = pd.DataFrame(np.arange(12).reshape((3,4)), index=['a','b','c'])
data_

   0  1   2   3
a  0  1   2   3
b  4  5   6   7
c  8  9  10  11

In [ ]:
data_>9 #boolean

       0      1      2      3
a  False  False  False  False
b  False  False  False  False
c  False  False   True   True

In [ ]:
(data_>9).any(0)    #any 0번 col 다 False
                        #1번 "   " False
                        #2번 "   하나가 True여서 True
                        #3번 :"   하나가 "         "

0    False
1    False
2     True
3     True
dtype: bool

In [ ]:
(data_>9).any(1)

a    False
b    False
c     True
dtype: bool

In [ ]:
data_[(data_>9).any(1)]

   0  1   2   3
c  8  9  10  11

In [ ]:
bool_list = [True,True,False]

In [ ]:
any(bool_list)  #1개만 True면 True출력

True

In [ ]:
all(bool_list)  #1개만 False 면 False 출력

False

In [ ]:
data.iloc[1:3]

          one  two  three  four
Colorado    4    5      6     7
Utah        8    9     10    11

In [ ]:
data.loc['Ohio':'Utah']

          one  two  three  four
Ohio        0    1      2     3
Colorado    4    5      6     7
Utah        8    9     10    11

In [ ]:
data.loc[:,'one']

Ohio         0
Colorado     4
Utah         8
New York    12
Name: one, dtype: int64

In [ ]:
data['one']<5

Ohio         True
Colorado     True
Utah        False
New York    False
Name: one, dtype: bool

In [ ]:
data.loc[data['one']]<5

In [ ]:
data[data<5]

          one  two  three  four
Ohio      0.0  1.0    2.0   3.0
Colorado  4.0  NaN    NaN   NaN
Utah      NaN  NaN    NaN   NaN
New York  NaN  NaN    NaN   NaN

In [ ]:
data.lic[(data<5).value]

In [ ]:
list_data = [1,2,3,4,5]

In [ ]:
all(i<10 for i in list_data)    #all 모든 value가 10보다 작냐

True

In [ ]:
all(i<5 for i in list_data)

False

In [ ]:
any(i>3 for i in list_data) #하나라도 맞으면 True

True

In [ ]:
import random

In [ ]:
np.random.seed(12)
data_ = data = pd.DataFrame(np.random.randn(1000,4))

In [ ]:
data_.head()

          0         1         2         3
0  0.472986 -0.681426  0.242439 -1.700736
1  0.753143 -1.534721  0.005127 -0.120228
2 -0.806982  2.871819 -0.597823  0.472457
3  1.095956 -1.215169  1.342356 -0.122150
4  1.012515 -0.913869 -1.029530  1.209796

In [ ]:
data_.describe()

                 0            1            2            3
count  1000.000000  1000.000000  1000.000000  1000.000000
mean      0.019826    -0.020608    -0.036681    -0.032079
std       0.994230     0.998738     0.984190     0.994405
min      -3.147417    -4.011049    -3.015915    -3.710679
25%      -0.664809    -0.719489    -0.684463    -0.710911
50%       0.003597    -0.028044    -0.044665    -0.035832
75%       0.736373     0.682833     0.620109     0.612202
max       3.166557     2.978985     3.529275     3.344649

In [ ]:
col = data_[2]

In [ ]:
col[np.abs(col)>3]

60    -3.015915
263    3.087539
591   -3.015906
761    3.529275
Name: 2, dtype: float64

In [ ]:
(np.abs(data_)>3).any(0)

0    True
1    True
2    True
3    True
dtype: bool

In [ ]:
(np.abs(data_)>3).any(1)

0      False
1      False
2      False
3      False
4      False
       ...
995    False
996    False
997    False
998    False
999    False
Length: 1000, dtype: bool

In [ ]:
data_[(np.abs(data_)>3).any(1)]

            0         1         2         3
12  -3.147417  0.535136  0.232490  0.867612
27   3.041686 -0.626081  1.505901 -0.587336
60   0.224547 -1.163467 -3.015915  0.593969
124  3.166557  1.383956 -0.077316 -0.911826
137 -1.812846  0.916503 -0.888640 -3.710679
149  1.214205 -0.862325 -0.553625 -3.155014
213 -0.347810  1.281499 -0.217167  3.041318
263 -1.524350 -0.539390  3.087539 -0.370562
445 -0.284077  0.282750  0.096077  3.344649
591  1.303257 -1.362288 -3.015906 -0.747110
761 -0.173639  0.700492  3.529275 -0.229179
774  2.011489 -4.011049 -1.925463 -0.693331

In [ ]:
data_[(np.abs(data_)>3).any(0)]

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

IndexingError: ignored

In [ ]:
np.sign([0,-2,5])

array([ 0, -1,  1])

In [ ]:
data_[(np.abs(data_)>3).any(1)]= np.sign(data_)*3

In [ ]:
data_.iloc[10:13]

           0         1         2         3
10 -0.571881 -0.105862  1.335831  0.318665
11 -0.337595 -0.585268 -0.114920  2.241818
12 -3.000000  3.000000  3.000000  3.000000

In [ ]:
data_[np.abs(data_)>3]= np.sign(data_)*3

In [ ]:
data_.iloc[10:13]

           0         1         2         3
10 -0.571881 -0.105862  1.335831  0.318665
11 -0.337595 -0.585268 -0.114920  2.241818
12 -3.000000  3.000000  3.000000  3.000000

In [ ]:
data_ = pd.DataFrame(np.arange(12).reshape((3,4)), index=['a','b','c'])

In [ ]:
data_

   0  1   2   3
a  0  1   2   3
b  4  5   6   7
c  8  9  10  11

In [ ]:
data_<5

       0      1      2      3
a   True   True   True   True
b   True  False  False  False
c  False  False  False  False

In [ ]:
(data_<5).any(1)

a     True
b     True
c    False
dtype: bool

In [ ]:
(data_<5).any(0)

0    True
1    True
2    True
3    True
dtype: bool

# 2

In [ ]:
df = pd.DataFrame({'key':['b','b','a','c','a','b'],
                   'data1':range(6)})
df

  key  data1
0   b      0
1   b      1
2   a      2
3   c      3
4   a      4
5   b      5

In [ ]:
pd.get_dummies(df['key'])

In [ ]:
dummies = pd.get_dummies(df['key'], prefix='keys')

In [ ]:
dummies

   keys_a  keys_b  keys_c
0       0       1       0
1       0       1       0
2       1       0       0
3       0       0       1
4       1       0       0
5       0       1       0

In [ ]:
df[['data1']].join(dummies)

   data1  keys_a  keys_b  keys_c
0      0       0       1       0
1      1       0       1       0
2      2       1       0       0
3      3       0       0       1
4      4       1       0       0
5      5       0       1       0

In [ ]:
root_url = 'http://compmath.korea.ac.kr/appmath/data/'

In [ ]:
names = ['movie_id','title','genres']

In [ ]:
movies = pd.read_table(root_url + 'movies.dat',sep='::',header = None, names = names, engine='python')

sep='::'
각 데이터의 구분이 ::로 구분되어 있다

Toy Story(1995)::Animation|Children's|Comedy

In [ ]:
movies[:10]

   movie_id                               title                        genres
0         1                    Toy Story (1995)   Animation|Children's|Comedy
1         2                      Jumanji (1995)  Adventure|Children's|Fantasy
2         3             Grumpier Old Men (1995)                Comedy|Romance
3         4            Waiting to Exhale (1995)                  Comedy|Drama
4         5  Father of the Bride Part II (1995)                        Comedy
5         6                         Heat (1995)         Action|Crime|Thriller
6         7                      Sabrina (1995)                Comedy|Romance
7         8                 Tom and Huck (1995)          Adventure|Children's
8         9                 Sudden Death (1995)                        Action
9        10                    GoldenEye (1995)     Action|Adventure|Thriller

In [ ]:
all_genres = []
for x in movies.genres:
    all_genres.extend(x.split('|')) #list로 반환

In [ ]:
genres = pd.unique(all_genres)  #중복값 제거

In [ ]:
len(genres)

18

In [ ]:
zero_matrix = np.zeros((len(movies), len(genres)))

In [ ]:
a = np.zeros((len(movies), len(genres)))

In [ ]:
dummies = pd.DataFrame(zero_matrix, columns=genres)

In [ ]:
dummies

,Animation,Children's,Comedy,Adventure,Fantasy,Romance,Drama,Action,Crime,Thriller,Horror,Sci-Fi,Documentary,War,Musical,Mystery,Film-Noir,Western
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3878,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3879,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3880,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3881,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3882,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

# 3

In [ ]:
dummies.head(2)

,Animation,Children's,Comedy,Adventure,Fantasy,Romance,Drama,Action,Crime,Thriller,Horror,Sci-Fi,Documentary,War,Musical,Mystery,Film-Noir,Western
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [ ]:
gen = movies.genres[3]

In [ ]:
gen.split('|')

['Comedy', 'Drama']

In [ ]:
dummies.columns.get_indexer(gen.split('|'))

array([2, 6])

In [ ]:
dummies.columns.get_indexer(['Comedy','Drama'])

array([2, 6])

In [ ]:
dummies.iloc[0,[2,6]]

Comedy    0.0
Drama     0.0
Name: 0, dtype: float64

In [ ]:
for i, gen in enumerate(movies.genres):
    indices = dummies.columns.get_indexer(gen.split('|'))
    dummies.iloc[i, indices]=1

In [ ]:
dummies.head(5)

,Animation,Children's,Comedy,Adventure,Fantasy,Romance,Drama,Action,Crime,Thriller,Horror,Sci-Fi,Documentary,War,Musical,Mystery,Film-Noir,Western
0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [ ]:
movies_result = movies.join(dummies.add_prefix('Genre_'))

In [ ]:
movies_result.head()

,movie_id,title,genres,Genre_Animation,Genre_Children's,Genre_Comedy,Genre_Adventure,Genre_Fantasy,Genre_Romance,Genre_Drama,...,Genre_Crime,Genre_Thriller,Genre_Horror,Genre_Sci-Fi,Genre_Documentary,Genre_War,Genre_Musical,Genre_Mystery,Genre_Film-Noir,Genre_Western
0,1,Toy Story (1995),Animation|Children's|Comedy,1.0,1.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,2,Jumanji (1995),Adventure|Children's|Fantasy,0.0,1.0,0.0,1.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,3,Grumpier Old Men (1995),Comedy|Romance,0.0,0.0,1.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,4,Waiting to Exhale (1995),Comedy|Drama,0.0,0.0,1.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,5,Father of the Bride Part II (1995),Comedy,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

# 4

In [ ]:
df1 = pd.DataFrame({'A': ['A0', 'A1', 'A2', 'A3'], 
                    'B': ['B0', 'B1', 'B2', 'B3'],
                    'C': ['C0', 'C1', 'C2', 'C3'],
                    'D': ['D0', 'D1', 'D2', 'D3']},
                   index=[0, 1, 2, 3])

df2 = pd.DataFrame({'A': ['A4', 'A5', 'A6', 'A7'],
                    'B': ['B4', 'B5', 'B6', 'B7'],
                    'C': ['C4', 'C5', 'C6', 'C7'],
                    'D': ['D4', 'D5', 'D6', 'D7']},
                   index=[4, 5, 6, 7])

df3 = pd.DataFrame({'A': ['A8', 'A9', 'A10', 'A11'],
                    'B': ['B8', 'B9', 'B10', 'B11'],
                    'C': ['C8', 'C9', 'C10', 'C11'],
                    'D': ['D8', 'D9', 'D10', 'D11']},
                   index=[8, 9, 10, 11])

In [ ]:
df1

    A   B   C   D
0  A0  B0  C0  D0
1  A1  B1  C1  D1
2  A2  B2  C2  D2
3  A3  B3  C3  D3

In [ ]:
df2

    A   B   C   D
4  A4  B4  C4  D4
5  A5  B5  C5  D5
6  A6  B6  C6  D6
7  A7  B7  C7  D7

In [ ]:
df3

      A    B    C    D
8    A8   B8   C8   D8
9    A9   B9   C9   D9
10  A10  B10  C10  D10
11  A11  B11  C11  D11

In [ ]:
result = pd.concat([df1, df2, df3])

In [ ]:
result

      A    B    C    D
0    A0   B0   C0   D0
1    A1   B1   C1   D1
2    A2   B2   C2   D2
3    A3   B3   C3   D3
4    A4   B4   C4   D4
5    A5   B5   C5   D5
6    A6   B6   C6   D6
7    A7   B7   C7   D7
8    A8   B8   C8   D8
9    A9   B9   C9   D9
10  A10  B10  C10  D10
11  A11  B11  C11  D11

In [ ]:
result = pd.concat([df1, df2, df3], keys = ['x','y','z'])

In [ ]:
result

        A    B    C    D
x 0    A0   B0   C0   D0
  1    A1   B1   C1   D1
  2    A2   B2   C2   D2
  3    A3   B3   C3   D3
y 4    A4   B4   C4   D4
  5    A5   B5   C5   D5
  6    A6   B6   C6   D6
  7    A7   B7   C7   D7
z 8    A8   B8   C8   D8
  9    A9   B9   C9   D9
  10  A10  B10  C10  D10
  11  A11  B11  C11  D11

In [ ]:
result.index    #인덱스 값

MultiIndex([('x',  0),
            ('x',  1),
            ('x',  2),
            ('x',  3),
            ('y',  4),
            ('y',  5),
            ('y',  6),
            ('y',  7),
            ('z',  8),
            ('z',  9),
            ('z', 10),
            ('z', 11)],
           )

In [ ]:
result.index.get_level_values(0)

Index(['x', 'x', 'x', 'x', 'y', 'y', 'y', 'y', 'z', 'z', 'z', 'z'], dtype='object')

In [ ]:
result.index.get_level_values(1)

Int64Index([0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11], dtype='int64')

In [ ]:
df4 = pd.DataFrame({'B': ['B2', 'B3', 'B6', 'B7'], 
                    'D': ['D2', 'D3', 'D6', 'D7'],
                    'F': ['F2', 'F3', 'F6', 'F7']},
                   index=[2, 3, 6, 7])

In [ ]:
df4

    B   D   F
2  B2  D2  F2
3  B3  D3  F3
6  B6  D6  F6
7  B7  D7  F7

In [ ]:
result = pd.concat([df1, df4],axis = 1) #옆에 붙임

In [ ]:
df1

    A   B   C   D
0  A0  B0  C0  D0
1  A1  B1  C1  D1
2  A2  B2  C2  D2
3  A3  B3  C3  D3

In [ ]:
result

     A    B    C    D    B    D    F
0   A0   B0   C0   D0  NaN  NaN  NaN
1   A1   B1   C1   D1  NaN  NaN  NaN
2   A2   B2   C2   D2   B2   D2   F2
3   A3   B3   C3   D3   B3   D3   F3
6  NaN  NaN  NaN  NaN   B6   D6   F6
7  NaN  NaN  NaN  NaN   B7   D7   F7

In [ ]:
result = pd.concat([df1, df4],axis=1, join='inner') #중복값만 출력
result

    A   B   C   D   B   D   F
2  A2  B2  C2  D2  B2  D2  F2
3  A3  B3  C3  D3  B3  D3  F3

In [ ]:
result.reindex(df1.index)

    A   B   C   D    B    D    F
0  A0  B0  C0  D0  NaN  NaN  NaN
1  A1  B1  C1  D1  NaN  NaN  NaN
2  A2  B2  C2  D2   B2   D2   F2
3  A3  B3  C3  D3   B3   D3   F3

In [ ]:
result = pd.concat([df1, df4])

In [ ]:
result

     A   B    C   D    F
0   A0  B0   C0  D0  NaN
1   A1  B1   C1  D1  NaN
2   A2  B2   C2  D2  NaN
3   A3  B3   C3  D3  NaN
2  NaN  B2  NaN  D2   F2
3  NaN  B3  NaN  D3   F3
6  NaN  B6  NaN  D6   F6
7  NaN  B7  NaN  D7   F7

In [ ]:
left = pd.DataFrame({'key': ['K0', 'K4', 'K2', 'K3'],
                     'A': ['A0', 'A1', 'A2', 'A3'],
                     'B': ['B0', 'B1', 'B2', 'B3']})

right = pd.DataFrame({'key': ['K0', 'K1', 'K2', 'K3'],
                      'C': ['C0', 'C1', 'C2', 'C3'],
                      'D': ['D0', 'D1', 'D2', 'D3']})

In [ ]:
left

  key   A   B
0  K0  A0  B0
1  K4  A1  B1
2  K2  A2  B2
3  K3  A3  B3

In [ ]:
right

  key   C   D
0  K0  C0  D0
1  K1  C1  D1
2  K2  C2  D2
3  K3  C3  D3

In [ ]:
pd.merge(left, right, on='key') #left , right에 공통으로 존재하는 것만 뺴서 출력

  key   A   B   C   D
0  K0  A0  B0  C0  D0
1  K2  A2  B2  C2  D2
2  K3  A3  B3  C3  D3

In [ ]:
pd.merge(left, right, how='left', on='key') #두개의 기준 left컬럼 기준으로

  key   A   B    C    D
0  K0  A0  B0   C0   D0
1  K4  A1  B1  NaN  NaN
2  K2  A2  B2   C2   D2
3  K3  A3  B3   C3   D3

In [ ]:
pd.merge(left, right, how='right', on='key')    #없는 값은 NaN으로 표시

  key    A    B   C   D
0  K0   A0   B0  C0  D0
1  K1  NaN  NaN  C1  D1
2  K2   A2   B2  C2  D2
3  K3   A3   B3  C3  D3

In [ ]:
pd.merge(left, right, how='outer', on='key')    # 합집합

  key    A    B    C    D
0  K0   A0   B0   C0   D0
1  K4   A1   B1  NaN  NaN
2  K2   A2   B2   C2   D2
3  K3   A3   B3   C3   D3
4  K1  NaN  NaN   C1   D1

In [ ]:
pd.merge(left, right, how='inner', on='key')

  key   A   B   C   D
0  K0  A0  B0  C0  D0
1  K2  A2  B2  C2  D2
2  K3  A3  B3  C3  D3

In [ ]:
df1 = pd.read_csv('cctv.csv', encoding='cp949')

In [ ]:
cctv = pd.read_csv('cctv.csv', encoding='cp949', skiprows=[0,2],thousands=',', header=[0])

In [ ]:
cctv

In [ ]:
df

In [ ]:
df.columns

Index(['※ 2021.12.31. 현황을 기준으로 각 연도별 설치된 CCTV 수량. 교체(저화질교체, 성능개선)는 최초설치연도가 아닌 교체년도 수량에 포함',
       'Unnamed: 1', 'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4', 'Unnamed: 5',
       'Unnamed: 6', 'Unnamed: 7', 'Unnamed: 8', 'Unnamed: 9', 'Unnamed: 10',
       'Unnamed: 11', 'Unnamed: 12'],
      dtype='object')

In [ ]:
new_col = ['구분','총계','2012년 이전','2012년','2013년','2014년','2015년','2016년','2017년','2018년','2019년','2020년','2021년']

In [ ]:
df.columns =new_col

In [ ]:
df.columns

Index(['구분', '총계', '2012년 이전', '2012년', '2013년', '2014년', '2015년', '2016년',
       '2017년', '2018년', '2019년', '2020년', '2021년'],
      dtype='object')

In [ ]:
df

In [ ]:
df = df.drop(index=[0], axis=0)

In [ ]:
df

In [ ]:
report = pd.read_table('report.txt', skiprows=[0,3],thousands=',', header=[1])

In [ ]:
report

,기간,자치구,세대,계,남자,여자,계.1,남자.1,여자.1,계.2,남자.2,여자.2,세대당인구,65세이상고령자
0,2022.1/4,종로구,73766,153684,74018,79666,144275,69911,74364,9409,4107,5302,1.96,28064
1,2022.1/4,중구,63767,131450,63869,67581,122173,59448,62725,9277,4421,4856,1.92,24742
2,2022.1/4,용산구,111207,236518,114571,121947,222169,106735,115434,14349,7836,6513,2.00,39461
3,2022.1/4,성동구,134533,291609,141662,149947,285073,138847,146226,6536,2815,3721,2.12,46896
4,2022.1/4,광진구,169483,353110,169525,183585,340707,164346,176361,12403,5179,7224,2.01,52604
5,2022.1/4,동대문구,169695,352592,172318,180274,337982,166823,171159,14610,5495,9115,1.99,62963
6,2022.1/4,중랑구,187693,393600,193623,199977,389043,191835,197208,4557,1788,2769,2.07,72851
7,2022.1/4,성북구,197296,442680,212277,230403,433150,208691,224459,9530,3586,5944,2.20,75719
8,2022.1/4,강북구,144725,300824,145934,154890,297384,144643,152741,3440,1291,2149,2.05,64961
9,2022.1/4,도봉구,138836,318100,154440,163660,316098,153716,162382,2002,724,1278,2.28,65122
10,2022.1/4,노원구,219065,514445,247417,267028,510486,245663,264823,3959,1754,2205,2.33,89426
11,2022.1/4,은평구,215178,476013,227172,248841,472259,225640,246619,3754,1532,2222,2.19,88418
12,2022.1/4,서대문구,145044,317075,149805,167270,305866,145958,159908,11209,3847,7362,2.11,55012
13,2022.1/4,마포구,180702,378629,176886,201743,368331,173073,195258,10298,3813,6485,2.04,55168
14,2022.1/4,양천구,181765,449378,219882,229496,446182,218554,227628,3196,1328,1868,2.45,69953
15,2022.1/4,강서구,272572,578426,277797,300629,573046,275422,297624,5380,2375,3005,2.10,93924
16,2022.1/4,구로구,181916,419984,208027,211957,396017,195002,201015,23967,13025,10942,2.18,73864
17,2022.1/4,금천구,118697,244901,123959,120942,231098,116568,114530,13803,7391,6412,1.95,41819
18,2022.1/4,영등포구,188193,400241,198080,202161,376740,185696,191044,23501,12384,11117,2.00,63547
19,2022.1/4,동작구,186419,394649,190377,204272,386017,186648,199369,8632,3729,4903,2.07,67470
20,2022.1/4,관악구,279353,500336,250450,249886,486375,244409,241966,13961,6041,7920,1.74,80686
21,2022.1/4,서초구,169895,413677,197665,216012,409823,195806,214017,3854,1859,1995,2.41,61404
22,2022.1/4,강남구,234612,537338,257096,280242,532577,254866,277711,4761,2230,2531,2.27,79575
23,2022.1/4,송파구,285106,668261,321963,346298,662607,319407,343200,5654,2556,3098,2.32,99854
24,2022.1/4,강동구,201926,465097,227891,237206,461300,226203,235097,3797,1688,2109,2.28,75477

In [ ]:
new_col2 = ['기간',	'자치구',	'세대',	'합계',	'합계(남자)',	'합계(여자)',	'한국인(계)',	'한국인(남자)','한국인(여자)',	'등록외국인(계)',	'등록외국인(남자)',	'등록외국인(여자)',	'세대당인구',	'65세이상고령자']

In [ ]:
report.columns = new_col2

In [ ]:
report

,기간,자치구,세대,합계,합계(남자),합계(여자),한국인(계),한국인(남자),한국인(여자),등록외국인(계),등록외국인(남자),등록외국인(여자),세대당인구,65세이상고령자
0,2022.1/4,종로구,73766,153684,74018,79666,144275,69911,74364,9409,4107,5302,1.96,28064
1,2022.1/4,중구,63767,131450,63869,67581,122173,59448,62725,9277,4421,4856,1.92,24742
2,2022.1/4,용산구,111207,236518,114571,121947,222169,106735,115434,14349,7836,6513,2.00,39461
3,2022.1/4,성동구,134533,291609,141662,149947,285073,138847,146226,6536,2815,3721,2.12,46896
4,2022.1/4,광진구,169483,353110,169525,183585,340707,164346,176361,12403,5179,7224,2.01,52604
5,2022.1/4,동대문구,169695,352592,172318,180274,337982,166823,171159,14610,5495,9115,1.99,62963
6,2022.1/4,중랑구,187693,393600,193623,199977,389043,191835,197208,4557,1788,2769,2.07,72851
7,2022.1/4,성북구,197296,442680,212277,230403,433150,208691,224459,9530,3586,5944,2.20,75719
8,2022.1/4,강북구,144725,300824,145934,154890,297384,144643,152741,3440,1291,2149,2.05,64961
9,2022.1/4,도봉구,138836,318100,154440,163660,316098,153716,162382,2002,724,1278,2.28,65122
10,2022.1/4,노원구,219065,514445,247417,267028,510486,245663,264823,3959,1754,2205,2.33,89426
11,2022.1/4,은평구,215178,476013,227172,248841,472259,225640,246619,3754,1532,2222,2.19,88418
12,2022.1/4,서대문구,145044,317075,149805,167270,305866,145958,159908,11209,3847,7362,2.11,55012
13,2022.1/4,마포구,180702,378629,176886,201743,368331,173073,195258,10298,3813,6485,2.04,55168
14,2022.1/4,양천구,181765,449378,219882,229496,446182,218554,227628,3196,1328,1868,2.45,69953
15,2022.1/4,강서구,272572,578426,277797,300629,573046,275422,297624,5380,2375,3005,2.10,93924
16,2022.1/4,구로구,181916,419984,208027,211957,396017,195002,201015,23967,13025,10942,2.18,73864
17,2022.1/4,금천구,118697,244901,123959,120942,231098,116568,114530,13803,7391,6412,1.95,41819
18,2022.1/4,영등포구,188193,400241,198080,202161,376740,185696,191044,23501,12384,11117,2.00,63547
19,2022.1/4,동작구,186419,394649,190377,204272,386017,186648,199369,8632,3729,4903,2.07,67470
20,2022.1/4,관악구,279353,500336,250450,249886,486375,244409,241966,13961,6041,7920,1.74,80686
21,2022.1/4,서초구,169895,413677,197665,216012,409823,195806,214017,3854,1859,1995,2.41,61404
22,2022.1/4,강남구,234612,537338,257096,280242,532577,254866,277711,4761,2230,2531,2.27,79575
23,2022.1/4,송파구,285106,668261,321963,346298,662607,319407,343200,5654,2556,3098,2.32,99854
24,2022.1/4,강동구,201926,465097,227891,237206,461300,226203,235097,3797,1688,2109,2.28,75477

In [ ]:
report = pd.read_table('report.txt', skiprows=[0,1,2,3],names=['gu','gen','total','man','woman','k_total','k_man','k_woman',\
                                                               'f_total','f_man','f_woman','per_gen','65_up'],thousands=',')

In [ ]:
report.head()