<a href="https://colab.research.google.com/github/Angorith/acorn_python/blob/main/0607_21%EC%9D%BC%EC%B0%A8_pandas%5Bgroupby%2Cmean%2Csize%2Cmapping%2C%EB%8B%A4%EC%A4%91%EC%BB%AC%EB%9F%BC%2C%EB%8B%A4%EC%A4%91%EC%9D%B8%EB%8D%B1%EC%8A%A4%2Cagg%5D%2Ctip%EA%B4%80%EB%A0%A8df.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [ ]:
df = pd.DataFrame({'key1': ['a','a','b','b','a'],
                   'key2': ['one','two','one','two','one'],
                   'data1' : np.random.randn(5),
                   'data2': np.random.randn(5)})
df

  key1 key2     data1     data2
0    a  one  1.648773  0.707631
1    a  two -0.105217  0.202712
2    b  one  0.050550 -0.299554
3    b  two  2.145659  0.014226
4    a  one -1.125780 -0.524624

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   key1    5 non-null      object
 1   key2    5 non-null      object
 2   data1   5 non-null      float64
 3   data2   5 non-null      float64
dtypes: float64(2), object(2)
memory usage: 288.0+ bytes

key1을 기준으로 그룹핑 하기

In [ ]:
grouped = df['data1'].groupby(df['key1'])
grouped

In [ ]:
grouped.mean()  #a값에 대한 평균값

key1
a    0.139259
b    1.098104
Name: data1, dtype: float64

In [ ]:
grouped.sum()   #값에 대한 합

key1
a    0.417776
b    2.196209
Name: data1, dtype: float64

In [ ]:
df.groupby(df['key1']).sum()    #간단하게 표현하는 방법

         data1     data2
key1
a     0.417776  0.385718
b     2.196209 -0.285328

In [ ]:
means = df['data1'].groupby([df['key1'], df['key2']]).mean()

In [ ]:
means   #data1에 대해서 연산을 하는데 grouping기준이key1,key2 의 평균값

key1  key2
a     one     0.261497
      two    -0.105217
b     one     0.050550
      two     2.145659
Name: data1, dtype: float64

In [ ]:
means.unstack() #dataframe형식으로 출력 #stack은 층층히 쌓여있는건데 unstack은 옆으로 쌓아올렸구나를 알 수 있다.

key2       one       two
key1
a     0.261497 -0.105217
b     0.050550  2.145659

In [ ]:
df

  key1 key2     data1     data2
0    a  one  1.648773  0.707631
1    a  two -0.105217  0.202712
2    b  one  0.050550 -0.299554
3    b  two  2.145659  0.014226
4    a  one -1.125780 -0.524624

In [ ]:
states = np.array(['Ohio', 'Califonia','Califonia','Ohio','Ohio'])
years = np.array([2005,2005,2006,2005,2006])

In [ ]:
df['data1'].groupby([states,years]).mean()

Califonia  2005   -0.105217
           2006    0.050550
Ohio       2005    1.897216
           2006   -1.125780
Name: data1, dtype: float64

In [ ]:
df.groupby('key1').mean()

         data1     data2
key1
a     0.139259  0.128573
b     1.098104 -0.142664

In [ ]:
df.groupby(['key1','key2']).size()

key1  key2
a     one     2
      two     1
b     one     1
      two     1
dtype: int64

In [ ]:
for name, group in df.groupby('key1'):
    print(name)
    print('-------------')
    print(group)

a
-------------
  key1 key2     data1     data2
0    a  one  1.648773  0.707631
1    a  two -0.105217  0.202712
4    a  one -1.125780 -0.524624
b
-------------
  key1 key2     data1     data2
2    b  one  0.050550 -0.299554
3    b  two  2.145659  0.014226

In [ ]:
df.groupby('key1')['data1'].mean()  #Series는 약간의 오류가 발생할 수 있어 DATAFRAME이 좋다.

key1
a    0.139259
b    1.098104
Name: data1, dtype: float64

In [ ]:
type(df.groupby('key1')['data1'].mean())

pandas.core.series.Series

In [ ]:
df.groupby('key1')[['data2']].mean()    #요런 데이터는 AI신경망에 바로 들어갈 수 있다.

         data2
key1
a     0.128573
b    -0.142664

In [ ]:
type(df.groupby('key1')[['data2']].mean())

pandas.core.frame.DataFrame

In [ ]:
df.groupby(['key1','key2'])[['data2']].mean()

              data2
key1 key2
a    one   0.091503
     two   0.202712
b    one  -0.299554
     two   0.014226

In [ ]:
s_grouped = df.groupby(['key1','key2'])['data2']    #Series형태

In [ ]:
s_grouped

In [ ]:
s_grouped.mean()

key1  key2
a     one     0.091503
      two     0.202712
b     one    -0.299554
      two     0.014226
Name: data2, dtype: float64

In [ ]:
people = pd.DataFrame(np.random.randn(5,5),
                      columns=['a','b','c','d','e'],
                      index = ['Joe','Steve','Wes','Jim','Travis'])
people

               a         b         c         d         e
Joe    -0.828285  0.749632 -0.827086  1.431198  1.402773
Steve   1.167906  0.263231  0.120382  0.421407 -0.474805
Wes    -0.211610 -1.095497  1.513531  0.010556  0.083579
Jim     2.726683  0.258859  0.513799  0.665707  0.548689
Travis -1.127520 -0.587941 -1.691095  0.750253  0.596527

In [ ]:
people.iloc[2:3, [1,2]] = np.nan

In [ ]:
people

               a         b         c         d         e
Joe    -0.828285  0.749632 -0.827086  1.431198  1.402773
Steve   1.167906  0.263231  0.120382  0.421407 -0.474805
Wes    -0.211610       NaN       NaN  0.010556  0.083579
Jim     2.726683  0.258859  0.513799  0.665707  0.548689
Travis -1.127520 -0.587941 -1.691095  0.750253  0.596527

In [ ]:
mapping = {'a':'red','b':'red','c':'blue','d':'blue','e':'red','f':'orange'}

In [ ]:
by_column = people.groupby(mapping, axis=1)

In [ ]:
by_column.sum()

            blue       red
Joe     0.604112  1.324120
Steve   0.541789  0.956332
Wes     0.010556 -0.128030
Jim     1.179506  3.534231
Travis -0.940842 -1.118934

In [ ]:
map_series = pd.Series(mapping)

In [ ]:
map_series

a       red
b       red
c      blue
d      blue
e       red
f    orange
dtype: object

In [ ]:
type(map_series)

pandas.core.series.Series

In [ ]:
people.groupby(map_series, axis=1).count()

        blue  red
Joe        2    3
Steve      2    3
Wes        1    2
Jim        2    3
Travis     2    3

# 3교시 #2교시는 시험

In [ ]:
people.groupby(len).sum()

          a         b         c         d         e
3  1.686789  1.008491 -0.313286  2.107461  2.035042
5  1.167906  0.263231  0.120382  0.421407 -0.474805
6 -1.127520 -0.587941 -1.691095  0.750253  0.596527

In [ ]:
people

               a         b         c         d         e
Joe    -0.828285  0.749632 -0.827086  1.431198  1.402773
Steve   1.167906  0.263231  0.120382  0.421407 -0.474805
Wes    -0.211610       NaN       NaN  0.010556  0.083579
Jim     2.726683  0.258859  0.513799  0.665707  0.548689
Travis -1.127520 -0.587941 -1.691095  0.750253  0.596527

In [ ]:
len('joe'),len('Steve'), len('Wes'), len('Jim')

(3, 5, 3, 3)

In [ ]:
columns = pd.MultiIndex.from_arrays([['US','US','US','JP','JP'],    #컬럼이 두가지로 존재
                                     [1,3,5,1,3]],                  #다중컬럼
                                    names = ['city','tenor'])

In [ ]:
hier_df = pd.DataFrame(np.random.randn(4,5),columns=columns)

In [ ]:
hier_df

city         US                            JP
tenor         1         3         5         1         3
0     -0.305888  0.122270  0.122859 -0.983226 -0.107680
1     -1.783844 -1.370905  0.308156  1.592522  1.066020
2      1.327246 -0.820852  0.658283  0.869769  0.066624
3     -1.149566 -1.436376 -0.651665  0.395837  0.001457

In [ ]:
hier_df.groupby(level='city', axis = 1).count() #level = 다중 컬럼일 때, 맨 위를 기준으로 0 그다음 숫자가 하나씩 증가한다.(index명으로 해도 되고 기준 컬럼으로 해도 된다.)

city  JP  US
0      2   3
1      2   3
2      2   3
3      2   3

# 4교시

In [ ]:
tips = pd.read_csv('https://compmath.korea.ac.kr/appmath/data/tips.csv')
tips

     total_bill   tip smoker   day    time  size
0         16.99  1.01     No   Sun  Dinner     2
1         10.34  1.66     No   Sun  Dinner     3
2         21.01  3.50     No   Sun  Dinner     3
3         23.68  3.31     No   Sun  Dinner     2
4         24.59  3.61     No   Sun  Dinner     4
..          ...   ...    ...   ...     ...   ...
239       29.03  5.92     No   Sat  Dinner     3
240       27.18  2.00    Yes   Sat  Dinner     2
241       22.67  2.00    Yes   Sat  Dinner     2
242       17.82  1.75     No   Sat  Dinner     2
243       18.78  3.00     No  Thur  Dinner     2

[244 rows x 6 columns]

In [ ]:
tips['tip_pct']= tips['tip']/tips['total_bill']

In [ ]:
tips.head()

   total_bill   tip smoker  day    time  size   tip_pct
0       16.99  1.01     No  Sun  Dinner     2  0.059447
1       10.34  1.66     No  Sun  Dinner     3  0.160542
2       21.01  3.50     No  Sun  Dinner     3  0.166587
3       23.68  3.31     No  Sun  Dinner     2  0.139780
4       24.59  3.61     No  Sun  Dinner     4  0.146808

map,apply,agg

In [ ]:
grouped = tips.groupby(['day','smoker'])

In [ ]:
grouped['tip_pct'].agg('mean')  #aggregate 여러개의 함수를 동시에 쓰고싶을떄

day   smoker
Fri   No        0.151650
      Yes       0.174783
Sat   No        0.158048
      Yes       0.147906
Sun   No        0.160113
      Yes       0.187250
Thur  No        0.160298
      Yes       0.163863
Name: tip_pct, dtype: float64

In [ ]:
grouped['tip_pct'].agg(['mean','std'])  #std 표준편차 : 평균에서 얼마나 멀어져 있는지(오차) 알아보는 수치

                 mean       std
day  smoker
Fri  No      0.151650  0.028123
     Yes     0.174783  0.051293
Sat  No      0.158048  0.039767
     Yes     0.147906  0.061375
Sun  No      0.160113  0.042347
     Yes     0.187250  0.154134
Thur No      0.160298  0.038774
     Yes     0.163863  0.039389

In [ ]:
grouped['tip_pct'].agg([('평균','mean'),('표준편차','std')])    #count, mean, max, min, std

                   평균      표준편차
day  smoker
Fri  No      0.151650  0.028123
     Yes     0.174783  0.051293
Sat  No      0.158048  0.039767
     Yes     0.147906  0.061375
Sun  No      0.160113  0.042347
     Yes     0.187250  0.154134
Thur No      0.160298  0.038774
     Yes     0.163863  0.039389

In [ ]:
grouped['tip_pct'].agg([('평균','mean'),('표준편차',np.std)])

                   평균      표준편차
day  smoker
Fri  No      0.151650  0.028123
     Yes     0.174783  0.051293
Sat  No      0.158048  0.039767
     Yes     0.147906  0.061375
Sun  No      0.160113  0.042347
     Yes     0.187250  0.154134
Thur No      0.160298  0.038774
     Yes     0.163863  0.039389

In [ ]:
functions = ['count','mean', 'max']
result = grouped['tip_pct','total_bill'].agg(functions)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

In [ ]:
result

            tip_pct                     total_bill
              count      mean       max      count       mean    max
day  smoker
Fri  No           4  0.151650  0.187735          4  18.420000  22.75
     Yes         15  0.174783  0.263480         15  16.813333  40.17
Sat  No          45  0.158048  0.291990         45  19.661778  48.33
     Yes         42  0.147906  0.325733         42  21.276667  50.81
Sun  No          57  0.160113  0.252672         57  20.506667  48.17
     Yes         19  0.187250  0.710345         19  24.120000  45.35
Thur No          45  0.160298  0.266312         45  17.113111  41.19
     Yes         17  0.163863  0.241255         17  19.190588  43.11

In [ ]:
tips.groupby(['day','smoker'], as_index=False).mean()

    day smoker  total_bill       tip      size   tip_pct
0   Fri     No   18.420000  2.812500  2.250000  0.151650
1   Fri    Yes   16.813333  2.714000  2.066667  0.174783
2   Sat     No   19.661778  3.102889  2.555556  0.158048
3   Sat    Yes   21.276667  2.875476  2.476190  0.147906
4   Sun     No   20.506667  3.167895  2.929825  0.160113
5   Sun    Yes   24.120000  3.516842  2.578947  0.187250
6  Thur     No   17.113111  2.673778  2.488889  0.160298
7  Thur    Yes   19.190588  3.030000  2.352941  0.163863

In [ ]:
df = pd.DataFrame({'Animal':['Falcon','Falcon','Parrot','Parrot'],
                   'Max_Speed' : [380., 370., 24., 26.]})

In [ ]:
df

   Animal  Max_Speed
0  Falcon      380.0
1  Falcon      370.0
2  Parrot       24.0
3  Parrot       26.0

In [ ]:
df.groupby(['Animal']).mean()

        Max_Speed
Animal
Falcon      375.0
Parrot       25.0

In [ ]:
grouped = df.Max_Speed.groupby(df['Animal'])
grouped.mean()

Animal
Falcon    375.0
Parrot     25.0
Name: Max_Speed, dtype: float64

In [ ]:
arrays = [['Falcon','Falcon','Parrot','Parrot'],
         ['Captive','Wild','Captive','Wild']]

In [ ]:
index = pd.MultiIndex.from_arrays(arrays, names= ('Animal','Type'))

In [ ]:
df = pd.DataFrame({'Max_Speed':[390.,350.,30.,20.]}, index = index)

In [ ]:
df

                Max_Speed
Animal Type
Falcon Captive      390.0
       Wild         350.0
Parrot Captive       30.0
       Wild          20.0

In [ ]:
df.groupby(level=0).mean()  #Animal 의 Palcon, Parrot으로 그룹핑 해서 .mean 평균값구하는 함수 적용

        Max_Speed
Animal
Falcon      370.0
Parrot       25.0

In [ ]:
df.groupby(level=1).mean()

         Max_Speed
Type
Captive      210.0
Wild         185.0

In [ ]:
df = pd.DataFrame({'상품번호':['P1', 'P1','P2','P2'],
                   '수량': [2,3,5,10]})

In [ ]:
df

  상품번호  수량
0   P1   2
1   P1   3
2   P2   5
3   P2  10

In [ ]:
df.groupby(by=['상품번호'], as_index=False).min()

  상품번호  수량
0   P1   2
1   P2   5

In [ ]:
df.groupby(by=['상품번호'], as_index=False).count()

  상품번호  수량
0   P1   2
1   P2   2

In [ ]:
df.groupby(by=['상품번호'], as_index=False).sum()

  상품번호  수량
0   P1   5
1   P2  15